@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Serif", serif;
}

body {
  background: #000;
}

.hidden{
  overflow: hidden;
}

.loarder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  z-index: 999;
}

.loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.btn__whattsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: ease 0.3s;
  animation: efecto_whatsapp 1.2s infinite;
}

.btn__whattsapp:hover {
  background: #20ba5a;
  transform: scale(1.1);
  transition: 0.3s;
}

@keyframes efecto_whatsapp {
  0% {
    box-shadow: 0 0 0 0 #25d366;
  }
  100% {
    box-shadow: 0 0 0 25px #25d36500;
  }
}

/*header---------------------------------------------*/

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  color: #fff;
  background-color: #000;
  z-index: 100;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin-left: 100px;
}

.logo img {
  height: 90px;
}

.list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 200px;
}

.list li a {
  position: relative;
}

.navbar .list li a::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0%;
  height: 1.5px;
  background-color: #fff;
  bottom: -8px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.3s;
}

.navbar .list li a::after {
  content: "";
  position: absolute;
  right: 50%;
  width: 0%;
  height: 1.5px;
  background-color: #fff;
  bottom: -8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: all 0.45s;
}

.navbar .list li a:hover::before,
.navbar .list li a:hover::after {
  width: 50%;
}

.icons__nav {
  display: none;
}

#toggler,
.navbar label {
  display: none;
  color: #fff;
}

.portada {
  margin: 0 0;
  position: relative;
  overflow: hidden;
}

.portada_img {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.portada_img img {
  width: 100%;
}

.informacion_portada {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.informacion_portada img {
  width: 400px;
}

.informacion_portada h1 {
  text-wrap: balance;
}

.informacion_portada button {
  margin-top: 15%;
  position: relative;
  padding: 0;
  width: 135px;
  height: 65px;
  background: transparent;
  font-size: 17px;
  border: 1px solid #ffffff1c;
  border-radius: 8px;
  box-shadow: inset 0 0 10px #ffffff1c;
}

.informacion_portada button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 65px;
  background: radial-gradient(
    circle at 100% -50%,
    #ffffff69 45%,
    #d4d4d44f 60%,
    #ffffff36 2%
  );
  /* background-size: 200%; */
  background-repeat: no-repeat;
  filter: opacity(0.3) blur(0.3em);
}

.informacion_portada button::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  height: 100%;
  width: 100%;
  background-color: #fff;
  filter: blur(2em);
  opacity: 0;
  pointer-events: none;
}

.informacion_portada button p {
  display: inline-block;
  width: 135px;
  line-height: 65px;
  font-size: 17px;
  font-weight: 900;
  color: #fff;
  filter: blur(0.02em);
  z-index: 5;
}

.informacion_portada button .svg-1 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%) rotate(45deg);
  width: 2.5rem;
  height: auto;
  filter: blur(0.1rem) opacity(0.5);
  z-index: -5;
}

.fil0 {
  fill: #935e28;
}

.informacion_portada button:hover {
  filter: blur(0.05em);
  animation: lightBox 1s ease-in-out forwards;
}

.informacion_portada button:hover::after {
  animation: light 1s ease-in-out forwards;
}

.informacion_portada button:hover p {
  animation: lightText 1s ease-in-out forwards;
}

@keyframes lightBox {
  0% {
    border: 1px solid #fff;
    box-shadow: 0 0 5px 0px #fff, inset 0 0 10px #fff;
  }

  20% {
    border: 1px solid #ffffff1c;
    box-shadow: none;
  }

  30% {
    border: 1px solid #fff;
    box-shadow: 0 0 10px 0px #fff, inset 0 0 15px #fff;
  }

  38% {
    border: 1px solid #ffffff1c;
    box-shadow: none;
  }

  45% {
    border: 1px solid #fff;
    box-shadow: 0 0 15px 0px #fff, inset 0 0 20px #fff;
  }

  50% {
    border: 1px solid #ffffff1c;
    box-shadow: none;
  }

  53% {
    border: 1px solid #fff;
    box-shadow: 0 0 15px 0px #fff, inset 0 0 25px #fff;
  }

  65% {
    border: 1px solid #ffffff1c;
    box-shadow: none;
  }

  100% {
    border: 1px solid #fff;
    box-shadow: 0 0 15px 0px #fff, inset 0 0 25px #fff;
  }
}

@keyframes light {
  0% {
    opacity: 0.7;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0.7;
  }

  38% {
    opacity: 0;
  }

  45% {
    opacity: 0.7;
  }

  50% {
    opacity: 0;
  }

  53% {
    opacity: 0.7;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

@keyframes lightText {
  0% {
    color: #fff;
    text-shadow: 0 0 5px #fff;
  }

  20% {
    color: #fff;
    text-shadow: none;
  }

  30% {
    color: #fff;
    text-shadow: 0 0 10px #fff;
  }

  38% {
    color: #fff;
    text-shadow: none;
  }

  45% {
    color: #fff;
    text-shadow: 0 0 15px #fff;
  }

  50% {
    color: #ffffff;
    text-shadow: none;
  }

  53% {
    color: #fff;
    text-shadow: 0 0 15px #fff;
  }

  65% {
    color: #fff;
    text-shadow: none;
  }

  100% {
    color: #fff;
    text-shadow: 0 0 15px #fff;
  }
}

.container__main {
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
}

.title__mike {
  font-size: 30px;
  padding: 80px;
  background-color: #000000;
  color: #fff;
}

.mike__cont {
  width: 100%;
  margin: auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
}

.container__mikebarber {
  display: flex;
  color: #000;
  width: 100%;
}

.box__mike img {
  width: 100%;
  height: 100%;
}
.box__mike h1 {
  padding: 10px;
}
.box__mike p {
  text-wrap: balance;
  padding: 10px;
  font-size: 25px;
}

.box__mike.text {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-links,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn i {
  font-size: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

.box__mike button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: #000;
  margin-top: 3%;
}

.box__mike button.learn-more {
  width: 12rem;
  height: auto;
}

.box__mike button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  box-shadow: 0 0 5px 1px white;
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
}

.box__mike button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.box__mike button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.box__mike button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.box__mike button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #000;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.box__mike button:hover .circle {
  width: 100%;
}

.box__mike button:hover .button-text {
  transform: translate(-1.7rem, 0);
}

.box__mike button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(8.7rem, 0);
}

.box__mike button:active .circle .icon.arrow {
  transform: translate(9.5rem, 0);
  transition: all 0.3s;
}

.box__mike button:active .circle {
  transform: scale(0.9);
  transition: all 0.3s;
}

.box__mike button:hover .button-text {
  color: #fff;
}

.box__mike button:active .button-text {
  color: rgb(255, 255, 255);
}

/* .position {
  position: relative;
}

.slider {
  background-image: url(img/mike1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
  animation: animate 10s infinite;
}

@keyframes animate {
  20% {
    background-image: url(img/mike2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  40% {
    background-image: url(img/mike1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  60% {
    background-image: url(img/mike2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  80% {
    background-image: url(img/mike1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url(img/mike2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
} */

/*works janky on mobile :<*/

.services__mike {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services h1 {
  text-align: center;
}

.services h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  z-index: -1;
}

.title__mike img {
  width: 200px;
}
.cards__mike {
  width: 100%;
  margin: auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card__container {
  position: relative;
  display: inline-block;
  background-size: contain;
}

.card__container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card__container img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  opacity: 0; /* Inicialmente, el fondo estará completamente transparente */
  transition: opacity 0.3s; /* Efecto de transición suave */
}

.card__container img:hover::before {
  opacity: 1; /* Al hacer hover, el fondo se vuelve opaco */
}

.text__card__services {
  color: #fff;
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.blog__mike {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/nathon-oski-EW_rqoSdDes-unsplash.jpg);
  position: relative;
  background-attachment: fixed;
  z-index: 2;
}

.blog {
  background: none;
}

.blog h1,
.blog img {
  z-index: 10;
}

.blog__mike::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.918));
  z-index: 2;
}

/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: #000;
  color: #fff;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 220px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #000;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #000;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

@media screen and (max-width: 600px) {
  .btn__whattsapp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
  .logo {
    margin-left: 0;
  }

  .navbar {
    position: sticky;
  }

  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-right: 0px;
  }

  .icons__nav {
    display: flex;
  }
  .icons__nav i {
    padding: 20px;
    font-size: 30px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    margin-right: 17px;
  }

  #toggler:checked ~ .menu {
    max-height: 100%;
  }

  .portada_img img {
    width: 100%;
  }

  .informacion_portada {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 30%;
  }

  .informacion_portada img {
    width: 100px;
  }

  .informacion_portada h1 {
    text-wrap: balance;
    font-size: 12px;
  }

  .informacion_portada button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }

  .informacion_portada button::before {
    width: 100px;
    height: 40px;
  }

  .informacion_portada button p {
    width: 100px;
    line-height: 40px;
    font-size: 12px;
  }

  .title__mike {
    font-size: 15px;
  }

  .box__mike p {
    font-size: 20px;
  }

  .mike__cont {
    grid-template-columns: repeat(1, 1fr);
  }
  .box__mike.text {
    background: #fff;
  }

  .cards__mike {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }

  .text__card__services {
    left: 40%;
  }
}
